@model IEnumerable<Inventory.Models.BookStore>

<p>
    <a asp-action="FilterBooks">Create New</a>
</p>
<h2>Filter Books</h2>
<p>
    @using (Html.BeginForm("FilterBooks", "BookStore", FormMethod.Get))
    {
        <b>Search By:</b>
        @Html.RadioButton("SearchBy","Title",true) <text>Title</text>
        @Html.RadioButton("SearchBy","Author") <text>Author</text>
        @Html.RadioButton("SearchBy","Price") <text>Price</text>
        @Html.RadioButton("SearchBy","ISBN") <text>ISBN</text>
        @Html.RadioButton("SearchBy","AmountAvailable") <text>AmountAvailable</text>

        <br />
        @Html.TextBox("search")
        <input type="submit" value="Search" class="btn btn-success" />
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityAvailable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
